*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin-top: 120px;
}
.FontIcons{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    top: 250px;
    right:15px;
}
.FontIcons a{
    font-size:40px;
    width:50px;
    height:50px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    color: #25D366;
}
.FontIcons a:nth-child(2){
    font-size:40px;
    width:50px;
    height:50px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    color:red;
}
.FontIcons a:nth-child(3){
    font-size:40px;
    width:50px;
    height:50px;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
    color:blue;
}

.header{
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px #ccc;
    display: flex;
    /* padding: 10px 40px; */
    justify-content: space-evenly;
    box-sizing: border-box;
    gap: 40px;
    position: fixed;
    top: 0px;left: 0px;right: 0px;
   
}



.header .left{
    display: flex;
    align-items:center;
    gap: 50px;
}
.header .left .logo{
    padding: 10px 15px;
}
.header .left .menu>ul{
     display:flex;
     list-style: none;
     gap:30px;
}
.header .left .menu>ul>li{
    box-sizing: border-box;
    font-weight:bolder;
    text-transform: uppercase;
    padding:40px 10px;
    
}
.header .left .menu>ul>li:hover{
     box-sizing: border-box;
     border-bottom: 2px solid purple;
}

.menu ul li:hover .Megamenu{
    display: flex;
     
}

.Megamenu{
    width:1300px;
    height:500px;
    display: flex;
    background-color:grey;
    margin: auto;
    position: absolute;
    display: none;
    top: 100px;
    left:100px;
    cursor: pointer;
}
.Megamenu .item1,.item1:nth-child(3),.item1:nth-child(5){
    flex-basis: 23%;
    background-color: #fff;
    padding:10px 40px;
    
}
.Megamenu .item1 ul li:hover{
        font-weight: bold;
        color: black;
}
.Megamenu .item1:nth-child(2),.item1:nth-child(4){
    flex-basis: 23%;
    padding:10px 40px;
   background-color: #FBFBFB;
}

.Megamenu .item1 ul li{
    list-style: none;
    font-size: 11.5px;
    font-weight:normal;
    line-height: 25px;
}
.Megamenu .item1 h4{
    padding: 10px 0px;
    color: #EE5F73;
    font-size:12px;
    font-weight: bolder;
}
/* .Megamenu .item1 h4:nth-child()
{   font-weight: bolder;
    padding: 10px 0px;
    color: ;
} */

/* .item1 hr{
    margin:10px 0px;
    color: #ccc;
} */










/* ----------------------------------------------------------------------------- */

.header .left .menu ul a{
    text-decoration: none;
    color: black;
}
.header .right{
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.header .right form{
    display: flex;
    flex-grow: 1;
    box-shadow: 0px 0px 10px 2px #ccc;
	border-radius: 5px;
   
}
.header .right form button{
    padding: 10px; background: transparent;
    outline: none; border: none;
}
.header .right form input{
    flex-grow: 1; background: transparent;
    outline: none;
    border: none;
}

.header .right .profile{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.header .right .profile i{
    text-align: center;
}
.header .right .profile li{
    /* display: flex; */
    list-style: none;
    /* flex-direction: column;
    gap:5px; */
}
 .header .right .profile li a{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap:5px;
    text-decoration:none;
    color: black;
 }
 /* .fake{
    width: 100%;
    height: 100px;
 } */
 .r1,.r2,.r3,.r4,.r5,.r7,.r8{
    width: 1420px;
    margin: auto;
 }
 .r1 img,.r2 img,.r3 img,.r4 img,.r5 img,.r7 img,.r8 img{
    width: 100%;
 }

 .slider{
      width:1420px;
      margin: auto;
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      gap:5px;
 }
.slider .item{
    flex-grow: 1;
   
}
.slider .item img{
    width: 100%;
}
.slider1
{
    width: 1420px;
    display: flex;
    margin: 10px 0px;
    margin: auto;
    
}
.slider1 .item1{
    flex-grow: 1;
   
}
.slider1 .item1 img{
    width: 100%;
    text-align: center;
}

footer{
 width:100%;
 background-color: #FAFBFC;
 margin-top: 20px;
}
.footermid{
width: 1120px;
margin: auto;
display: flex;
}
.part1,.part2,.part3.part4{
    width:25%;
}
.footermid .part1 h5,.part2 h5,.part3 h5{
    padding-bottom: 20px;
}
.footermid .part1 h5 a,.part2 h5 a,.part3 h5 a{
    color: black;
    text-decoration: none;
}
 .part1  li, .part1 a,.part2  li, .part2 a{
  list-style: none;
  text-decoration: none;
  color:#696B79;
  font-size: 15px;
  line-height:25px;
  
}
.part3 img{
    width: 200px;
    height:50px;
}
.part3  i{
    font-size: 25px;
    padding-top:5px;
    padding-right: 10px;
}
 
.part3 .C:hover{
    color: blue;
    transition: 1s;
}
.part3  .A:hover{
    color:purple;
    transition: 1s;
}
.part3  .B:hover{
    color: red;
    transition: 1s;
}
.part4 img{
    width:40px;
    
}
.c1,.c2{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom:30px;
    gap:20px;
}

.partmid,.partmid1,.partmid2,.partmid3{
    width: 1120px;
    margin: auto;

}
.partmid h5,.partmid2 h5,.partmid3 h5{
    padding-top: 20px;
    padding-bottom: 20px;
}
.partmid p,.partmid2 p,.partmid3 p{
    color: gray;
    font-size: 15px;
}
.partmid .text{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding:70px 0px;
}
.partmid .text a{
    text-decoration: none;
    color: cyan;
}
.text1{
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    margin: 30px 0px;
}
.text1 a{
    text-decoration: none;
    color: cyan;
}

.partmid3 ol{
    padding-left:40px;
    padding-top:20px;
    padding-bottom:20px;
}
.partmid3 ul li{
    color: gray;
    font-size:15px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

